.app__sidebar {
  grid-area: sidebar;
  border-right: 1px solid #cfd7ea;
  padding: 20px 30px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .logout {
    color: #a0adc4;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 500;
    span {
      margin-right: 10px;
      display: block;
      font-size: 15px;
      font-weight: 600;
    }
    svg {
      width: 20px
    }
  }
}
