.app__footer {
  grid-area: footer;
  background:  #eceef1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-light);
  &--copyright {
    color: #b1bcc9;
    font-size: 13px;
  }
}
