.app__form {
  &--control {
    margin: 20px 0;
    label {
      margin-bottom: 10px;
      display: block;
      font-size: 12px;
      font-weight: 500;
      color: var(--text-color-dark);
      letter-spacing: 0.2pt;
    }
    input {
      border: 1px solid var(--color-s-light-gray);
      padding: 15px 10px;
      font-size: 14px;
      border-radius: 4px;
      width: 100%;
      box-sizing: border-box;
      transition: border-color ease-in 0.2s;
      &:focus {
        border-color: var(--color-s-blue);
      }

      &.not-valid {
        border-color: var(--color-s-red);
      }
    }
    .form--error--note{
      font-size: 80%;
      text-align: right;
      display: block;
      margin-top: 5px;
      color: var(--color-s-red);;
    }
  }
}