.app__header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: "mobileMenu viewToggles userinfo";
  padding: 0 30px;
  background-color: var(--background-light);
  align-content: center;
  background: #FFFFFF;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.02);
  &__user--info {
    grid-area: userinfo;
    display: flex;
    justify-content: center;
    align-items: center;
    h5 { 
      font-weight: 400;
      color: var(--text-color-light);
      margin-left: 15px;
      font-size: 80%;
    }
  }
  &--toggle {
    grid-area: viewToggles;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      cursor: pointer;
      background: white;
      border-radius: 100px;
      overflow: hidden;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
      width: 40px;
      height: 40px;
     &.active {
      background: #57b1ff;
       svg {
        color: #fff;
       }
     }
      span {
        margin-top: 5px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 800;
        letter-spacing: 0.2pt;
        color: #3b5072;
      }
    }
  }
}


@media #{$medium} {
  .app__header {
    grid-template-columns: 1fr auto;
    grid-template-areas: "viewToggles userinfo";
  }  
}