
// -----------------------------------------------------------------------------
// Root Colors
// -----------------------------------------------------------------------------

:root {
  --bg-color-light: #f7f8fa;

  --text-color-dark: #5F6485;
  --text-color-light: #a0adc4;

 --color-p-blue: #6CD4FF;
 --color-p-red: #FF8383;
 --color-p-green: #1EF1B0;
 --color-p-yellow: #FFF084;
 --color-p-light-gray: #EDEDED;
 --color-p-dark-gray: #4D4D4D;

 --color-s-blue: #24AFD1;
 --color-s-red: #E81E1E;
 --color-s-green: #00AC78;
 --color-s-yellow: #FFC600;
 --color-s-light-gray: #DEDEDE;
 --color-s-dark-gray: #0E0E0E;
}

// -----------------------------------------------------------------------------
// Media Breakpoints
// -----------------------------------------------------------------------------

$breakpoints: ( 'mobile': 375px, 'tablet': 768px, 'desktop': 1440px ) !default;

// -----------------------------------------------------------------------------
// Media Queries
// -----------------------------------------------------------------------------

$big: "all and (min-width: 1440px)";
$large: "all and (min-width: 1024px)";
$medium: "all and (min-width: 960px)";
$small: "all and (min-width: 480px)";
$tiny: "all and (min-width: 320px)";