:root {
  --text-color-dark: #5F6485;
  --text-color-light: #a0adc4;
  --text-dark: #5F6485;
  --background-light: #f7f8fa;

 --color-p-blue: #6CD4FF;
 --color-p-red: #FF8383;
 --color-p-green: #1EF1B0;
 --color-p-yellow: #FFF084;

 --color-s-blue: #24AFD1;
 --color-s-red: #E81E1E;
 --color-s-green: #00AC78;
 --color-s-yellow: #FFC600;
}

